# exclude everything
/folderclone-master
/.idea
/accounts/*
/accounts1/*
# /controller/*
/credentials/*
rclone.conf
rclone*.conf
token.pickle
client*.apps.googleusercontent.com.json
credentials.json
python-controller.json
kichappa read me.txt
rclone_sa.py
git-log.txt
log_rclone.txt
log*.txt
current_sa.txt
accounts.zip
accounts1k.zip
accounts400.zip
accounts600.zip
rclone.1
rclone.exe
README.txt
README.html
.gitignore
test.py

# exception to the rule
!credentials/.gsuite_only.txt
!credentials/.keep
!accounts/.keep
# !controller/.keep
